footer{
    background-color: var(--cinza);
    color: var(--branco);
}

.tres-itens{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    padding-bottom: 30px;

}
.tres-itens img{
    width: 20%;
}

.termos{
    display: flex;
}

.logo-footer{
    width: 30%;
}

.footer-22{
    color: var(--verde);
}

.termos p{
    margin: 5px 5px 0 5px;
    
}
.termos a {
    color: var(--branco);
    margin: 5px 5px 0 5px;
}

.mapa1{
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.mapa1 i{
    margin-right: 20px;
    color: var(--verde);
    
}
.mapa p{
    margin-right: 90px;
}
.icones{
    display: flex;
    align-items: center;

}



.icone-link{
    margin-right: 150px;
    margin-left: 10px;

}

.footer-lado-direito{
    display: flex;
    justify-content: center;
 
}

.nome-e-rm{
  padding-top: 50px;

    
}

.nome-e-rm p{
    margin-top: 5px;
    margin-right: 110px;
}

.flex{
    display: flex;
    justify-content: center;
}

.flex i{
    color: var(--verde);
    font-size: 25px;
    margin-right: 5px;
}

